*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-size: var(--body-font-size);
}
h1{
  font-size: var(--h1-font-size);
}
h2{
  font-size: var(--h2-font-size);
}
h3, h4, h3, h6{
  font-size: var(--h3-font-size);
}
a{
  text-decoration: none;
  color: currentColor;
}